# Welcome to the Data Manipulation Exercises

The workbook has been broken up into three sections.  Each section correlates to a reading assignment within the textbook.

In [30]:
import pandas as pd
import numpy as np

data= pd.read_csv("titanic.csv")

## Before You Get Started

We are going to be using the Titanic Dataset. Make sure to run a head() before you start working with manipulation methods.

In [31]:
# Run the head of your data set here:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [32]:
# check for duplicates
print(f"Number of duplicate rows: {data.duplicated().sum()}")

Number of duplicate rows: 107

In [33]:
# if there are, go ahead and drop them:
data.drop_duplicates(inplace=True)
print(f"New number of rows: {len(data)}")

New number of rows: 784

### Cleaning Note:

While the columns are not the "prettiest", don't adjust any of them yet. We are going to update some values and add some values as we workthrough this notebook. Apologies for the extra visual "noise" on your screen. You will be given the option to tidy up the columns at the end of this notebook.

## Running Tables Note:  
If your tables don't appear to have accepted your changes, try the "Run All" option in the "Cell" section of the menu bar.

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# A. Aggregation

1. Work through the section Exercises.  
    - There are 4 sections in part A:
        - Groupby
        - Aggregation Methods
        - Groupby and Basic Math
        - Groupby and Multiple Aggregations

#### Creating Variables.

As we begin to manipulate our data, create new variables to store your work in.  This will keep your original data in tact.  Having the original dataset available will save you time with each manipulation.  You can also create variable names that inform you of the purpose of the manipulation.

### 1: Groupby <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

#### Groupby "embark_town"

1. Using the titanic data set, groupby "embark_town".
1. Create a variable that will represent the grouping of data. 
1. Initialize it using the groupby() function and pass it the column.

In [34]:
# Code your groupby "embark_town" here:
by_town = data.groupby("embark_town")

In [35]:
# To view the grouped data as a table, use the variable_name.first():
by_town.first()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,alive,alone
embark_town,,,,,,,,,,,,,,
Cherbourg,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,yes,False
Queenstown,0,3,male,2.0,0,0,8.4583,Q,Third,man,True,C,no,True
Southampton,0,3,male,22.0,1,0,7.2500,S,Third,man,True,C,no,False

#### Groupby "survived"

Did you know that you can also chain on some of our exploratory methods to the groupby method?

1. Create & initalize a new variable to hold a table that will groupby "survived" 
1. Use method chaining to tack on the describe method

In [36]:
# Code your groupby "survived" table here:
survived = data.groupby("survived").describe()

# run your table below:
survived

         pclass                                                 age  \
          count      mean       std  min  25%  50%  75%  max  count
survived
0         461.0  2.481562  0.770507  1.0  2.0  3.0  3.0  3.0  394.0
1         323.0  1.904025  0.856152  1.0  1.0  2.0  3.0  3.0  284.0

                     ... parch        fare                                     \
               mean  ...   75%  max  count       mean        std  min     25%
survived             ...
0         30.953046  ...   0.0  6.0  461.0  23.944531  33.336385  0.0   7.875
1         28.365915  ...   1.0  5.0  323.0  50.079180  68.009971  0.0  12.825


            50%       75%       max
survived
0         13.00  26.55000  263.0000
1         26.25  61.37915  512.3292

[2 rows x 40 columns]

In [37]:
# run your table with describe
survived.describe()

           pclass                                                         \
            count      mean       std  min       25%       50%  75%  max
count    2.000000  2.000000  2.000000  2.0  2.000000  2.000000  2.0  2.0
mean   392.000000  2.192793  0.813329  1.0  1.500000  2.500000  3.0  3.0
std     97.580736  0.408380  0.060560  0.0  0.707107  0.707107  0.0  0.0
min    323.000000  1.904025  0.770507  1.0  1.000000  2.000000  3.0  3.0
25%    357.500000  2.048409  0.791918  1.0  1.250000  2.250000  3.0  3.0
50%    392.000000  2.192793  0.813329  1.0  1.500000  2.500000  3.0  3.0
75%    426.500000  2.337178  0.834741  1.0  1.750000  2.750000  3.0  3.0
max    461.000000  2.481562  0.856152  1.0  2.000000  3.000000  3.0  3.0

              age             ...     parch                  fare             \
            count       mean  ...       75%       max       count       mean
count    2.000000   2.000000  ...  2.000000  2.000000    2.000000   2.000000
mean   339.000000  29.659481  ...  0.500000  5.500000  392.000000  37.011856
std     77.781746   1.829377  ...  0.707107  0.707107   97.580736  18.479988
min    284.000000  28.365915  ...  0.000000  5.000000  323.000000  23.944531
25%    311.500000  29.012698  ...  0.250000  5.250000  357.500000  30.478193
50%    339.000000  29.659481  ...  0.500000  5.500000  392.000000  37.011856
75%    366.500000  30.306263  ...  0.750000  5.750000  426.500000  43.545518
max    394.000000  30.953046  ...  1.000000  6.000000  461.000000  50.079180


             std  min        25%        50%        75%         max
count   2.000000  2.0   2.000000   2.000000   2.000000    2.000000
mean   50.673178  0.0  10.350000  19.625000  43.964575  387.664600
std    24.517928  0.0   3.500179   9.369165  24.627928  176.302368
min    33.336385  0.0   7.875000  13.000000  26.550000  263.000000
25%    42.004781  0.0   9.112500  16.312500  35.257288  325.332300
50%    50.673178  0.0  10.350000  19.625000  43.964575  387.664600
75%    59.341575  0.0  11.587500  22.937500  52.671862  449.996900
max    68.009971  0.0  12.825000  26.250000  61.379150  512.329200

[8 rows x 40 columns]

In [38]:
# How is this table organized?  Why are there 40 columns now?
###The table is organized by the survived column. The context file of the data says 0
###means didnt survive, while 1 means they did. 

#There are 40 columns because 5 columns got 8 new statistics from describe().

### 2. Aggregation Methods <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Note: **agg()** and **aggregate()** are identical [source](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.aggregate.html)

#### Method Chaining

1. Create a variable to method chain **head()** and **agg()** togehter.
1. Pass one of the following statistical values to **agg()**
   - "mean", "median", "mode", "min", "max", "std", "var", "first", "last", "sum"

In [ ]:
# Code your method chain here:
mean_agg = data.agg("mean")
mean_agg

TypeError: can only concatenate str (not "int") to str

In [40]:
# Create a variable to method chain head() with agg("sum")
sum_agg = data.agg("sum")
# run your table:
sum_agg

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Explain the sum table.  What is going on with the "sex", "class", and "alive" columns?
#The .agg tries to calculate the sum for every column. That can be a meaningful value to know.
#You cannot mathematically add up words. When pandas tries to "sum" string columns, it concatenates them instead.

#### Using a Dictionary <span style="color:darkorange;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
##### A dictionary is a Python collection type.  

Is a collection type that stores **key-value pairs**.  A key-value pair is an organization system that is made up of a single *key* that has one or more *values* paired with it.  
Think of it like your contacts list.  The contacts list is the dictionary object.  
Each contact is organized by a key, usually name.  And attached to each name is contact information, or the values.
Some contacts might have email address, phone number, home or work address, etc. Other contacts may just be a name and phone number.  This is a very simple example, but understanding this organizational structure will be helpful as you learn to manipulate tables.  

*Here is a dictionary example with 3 keys:*
>**contacts_dictionary = {"name1": ["email", 555-5552, "work info"], 
      "name2": ["email", 555-5554],
      "name3": 555-5555}**
                     
*Here is a dictionary example with a single key-value pair*
**study_group_dictionary = {"john": ["john@email.com", 555-555-5555, "works at LaunchCode headquarters"]}**   

It has a single key, and a list of values. The organization of this structure is called a "Key-Value Pair".
Using the contact list example, the key would be the name of the person and the values would be their contact information.  The key is a single item (the person's name) and the values can be a single item (an email address) or mulitple items (email, phone number, address, work info, etc).
Keys and values can be any data type, but must use correct data type syntax.  The keys do not have to be strings, but they do need to be a single value.  

For more information, you can read more on dictionary objects [here](https://www.w3schools.com/python/python_dictionaries.asp).

#### Aggregation across multiple columns using dictionary functionality

##### Syntax Example:

**age_dictionary={"age":["sum", "max"]}**

We are creating a new dictionary (**age_dictionary**).  The key is **age** and the values we want are **"sum""** and **"max"**.  This dictionary object has now become a tempate for the aggregations we want to preform.  However, on it's own, it does nothing.  Once passed to the **agg()** method, it will pick out the specific location of data we want to examine.  Making a subset table.  

The code is contained in the box below.  Run it and see what happens.


For syntax examples, review [this webpage](https://www.geeksforgeeks.org/python-pandas-dataframe-aggregate/).
#### <span style="color:coral;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

In [41]:
# Predict the table output before you uncomment the code below.
#The table will have one row and two columns showing the total sum of all ages and maximum age in 
#the dataset
age_dictionary={"age":["sum", "max"]}
dictionary_agg=data.agg(age_dictionary)
dictionary_agg

          age
sum  20251.42
max     80.00

1. What if we want to look at more than one column at a time?  We pass more dictionaries to the agg function.
1. Create a variable to hold at least 3 columns.  Use the syntax from the "Syntax Example" as a guide.
    - Aggregate the following:  survived: "sum" & "count"; age: "std" & "min", and sibsp: "count" & "sum"

In [42]:
# Code your dictionary here:
multi_agg_dict = {
    "survived": ["sum", "count"],
    "age": ["std", "min"],
    "sibsp": ["count", "sum"]
}

multi_agg_table = data.agg(multi_agg_dict)
multi_agg_table

       survived        age  sibsp
sum       323.0        NaN  410.0
count     784.0        NaN  784.0
std         NaN  14.759076    NaN
min         NaN   0.420000    NaN

### 3. Groupby and Basic Math <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

1. Groupby "pclass".  Make sure you use a variable to hold your grouped data.

In [43]:
# Code your groupby here:
passenger_class = data.groupby("pclass")

# <WARNING> For this section, you will need to filter out non-numeric data to run the aggregations
## Uncomment the line below, and use this 'num_only_data' variable as needed for Section 3 and Section 4
# num_only_data = data.select_dtypes(include='number')
num_only_data = data.select_dtypes(include='number')
passenger_class_num = num_only_data.groupby(data["pclass"])

# Run your table using first() here instead of head():
passenger_class_num.first()

        survived  pclass   age  sibsp  parch     fare
pclass
1              1       1  38.0      1      0  71.2833
2              1       2  14.0      1      0  30.0708
3              0       3  22.0      1      0   7.2500

### 4. Groupby and Multiple Aggregations <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

#### Group with a List<span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

1. We want to do muliple aggregation functions to our newly grouped data set.  We created a variable to hold a list of functions we want to perform.  These functions are part of the agg method.  When we pass our list to the method, the method will iterate through each item and perform that function for the entire table.

In [44]:
# our list of functions
agg_func_list = ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']


#Apply the agg method to our passenger_class variable (made in the Groupby Basic Math section).  
# Pass our list to the function and run your table.
passenger_class_num.agg(agg_func_list)

       survived                                                                \
            sum      mean median min max       std       var first last count
pclass
1           135  0.630841    1.0   0   1  0.483709  0.233974     1    1   214
2            84  0.509091    1.0   0   1  0.501439  0.251441     1    0   165
3           104  0.256790    0.0   0   1  0.437403  0.191321     0    0   405

        ...        fare                                                \
        ...         sum       mean   median  min       max        std
pclass  ...
1       ...  18080.3917  84.487812  60.2875  0.0  512.3292  78.645207
2       ...   3602.8417  21.835404  18.7500  0.0   73.5000  13.475409
3       ...   5530.7705  13.656223   8.0500  0.0   69.5500  10.666808


                var    first   last count
pclass
1       6185.068602  71.2833  30.00   214
2        181.586649  30.0708  10.50   165
3        113.780790   7.2500   7.75   405

[3 rows x 60 columns]

#### Group with a Dictionary<span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Using only a list provides us with the entire table.  What if we only want to look at age vs pclass?  

we can create a dictionary to hold the age column for us.  The *key* would be the name of our column, and the values our list of functions to perform on that column.  The code would look like this:

In [45]:
agg_func_dict = {
    'age':
    ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']
}
# We would run our table like this:
# passenger_class.agg(agg_func_dict)

Looking at the *age_func_dict* syntax, create a dictionary variable for the "survived" column and pass it to **passenger_class.agg()** in the box below.

In [46]:
# Code it here:

survived_agg_dict = {
    'survived':
    ['sum', 'mean', 'count'] # Let's keep it simple: total survivors, survival rate, total passengers
}

passenger_class_num.agg(survived_agg_dict)

       survived
            sum      mean count
pclass
1           135  0.630841   214
2            84  0.509091   165
3           104  0.256790   405

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# B. Recoding and Creating New Values and Variables 

1. Work through the Part B, there are 3 sections

### Create a New Column <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

In the box below:
1. Create a new column by manipulating the values of an existing column.  Specifically, create a new column, "fare_2021" that allows us to compare the cost of fare in pounds back in 1912 to 2021.  [This website](https://www.in2013dollars.com/uk/inflation/1912) can help you find the 2021 fare amount.

In [47]:
# Code your new "fare_2021" column here:
data["fare_2021"] = data["fare"] * 120.37
# Run the head of your table to see your new column:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_2021
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,872.682500
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,8580.370821
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,953.932250
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,6391.647000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,968.978500

### Replacing Values <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
 
Replace the string-based "yes","no" values in the "alive" column using booleans, replacing "yes" values with True and "no" values with False.

In [48]:
# Code your updated values here:
data["alive"] = data["alive"].replace({"yes": True, "no": False})

data.head()

C:\Users\justi\AppData\Local\Temp\ipykernel_13432\4078054784.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["alive"] = data["alive"].replace({"yes": True, "no": False})

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_2021
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,False,False,872.682500
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,True,False,8580.370821
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,True,True,953.932250
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,True,False,6391.647000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,False,True,968.978500

We can also use functions to update values.

1. Create a function that will convert the string-based "alive" values of "yes" or "no" to a boolean value of True or False. Apply it to your table and run your table here:

In [49]:
# Code your function here:
def convert_to_boolean(value):
    if value == "yes":
        return True
    elif value == "no":
        return False
    return None

data["alive"] = data["alive"].apply(convert_to_boolean)

data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_2021
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,None,False,872.682500
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,None,False,8580.370821
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,None,True,953.932250
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,None,False,6391.647000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,None,True,968.978500

### Using a function to create a new column <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

Sometimes you might want to create a new column based on combining multiple columns together.

1. create an "age_group" column that breaks years up as 0-19, 20-29, 30-39, etc until all given ages are covered.  Make sure you check to see where you can stop counting by 10s.

In [50]:
# Write your max age check here:
max_age = data["age"].max()
print(f"The maximum age is: {max_age}")

The maximum age is: 80.0

In [51]:

def get_age_group(age):
    if pd.isna(age): # Check for missing values (NaN)
        return "Unknown"
    elif age < 20:
        return "0-19"
    elif age < 30:
        return "20-29"
    elif age < 40:
        return "30-39"
    elif age < 50:
        return "40-49"
    elif age < 60:
        return "50-59"
    else:
        return "60+"
    
data["age_group"] = data["age"].apply(get_age_group)
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_2021,age_group
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,None,False,872.682500,20-29
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,None,False,8580.370821,30-39
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,None,True,953.932250,20-29
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,None,False,6391.647000,30-39
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,None,True,968.978500,30-39

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# C. Reshaping Tables

1. Work through Part C, there are 4 sections

### Sort_values <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Use **sort_values()** to answer the following question:
> What is the age of the person who paid the highest fare?

Hint: We want to see the highest fare value first. To find this, should we set the sort order to ascending or descending?  Check the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values) for the syntax.

In [52]:
# Code your sort_values here:

highest_fare = data.sort_values(by="fare", ascending=False)
# Run your table here:
highest_fare.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_2021,age_group
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,None,False,61669.065804,30-39

### pivot_table <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
1. pivot the table of the summed data where the values are "fare", index is "who" and "age_group", and the columns are "survived"

Hint: set the aggfunc parameter to np.sum

In [53]:
# Code your pivot_table here:
pivot_table_data = data.pivot_table(
    values="fare",        # What values to calculate the aggregation on
    index=["who", "age_group"], # What goes on the rows (the index)
    columns="survived",    # What goes on the columns
    aggfunc=np.sum         # What aggregation function to use (sum of fares)
)

# Run your table here:
pivot_table_data

C:\Users\justi\AppData\Local\Temp\ipykernel_13432\1512709756.py:2: FutureWarning: The provided callable <function sum at 0x000002990CE51260> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table_data = data.pivot_table(

survived                 0          1
who   age_group
child 0-19       1109.5459  1592.4168
man   0-19        933.8083   145.5333
      20-29      2290.8663   646.9542
      30-39      1401.2039  1664.4501
      40-49      1102.5874   466.6793
      50-59       853.3042   226.2000
      60+         767.6709   119.7000
      Unknown    1393.6916   304.9708
woman 0-19        126.1375  1243.0209
      20-29       404.7500  2406.1291
      30-39       164.9042  3350.8791
      40-49       241.2542  1563.6335
      50-59        39.2125  1171.5833
      60+              NaN   242.7958
      Unknown     209.4917  1030.6291

### Wide to Long <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

1. Create a table where the columns are "who" and the values are "pclass"
1. Answer the question:  How does this table differ from the pivot_table above?  Specifically, how is "who" different?

In [54]:
# Code your table here:
pclass_by_who = data.pivot_table(
    values="pclass",
    index="who",
    aggfunc="median" # Using median to find the most common class
)

# Run your table here:
pclass_by_who

# Answer the question here:
#The fare table used three dimensions while the pclass used two dimensions.

       pclass
who
child     3.0
man       3.0
woman     2.0

### Melt <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

1.  What does the **melt** function do to the data?

In [55]:
# What does melt do?
#It takes column headers and turns them into rows

2.  With a new variable, apply a default melt to your data.

In [56]:
# Create your default melt table here with the following syntax:  new_name = pd.melt(data_set)
default_melt = pd.melt(data)
# Run your table here:
default_melt.head()
# Check the shape of your new table.
print(f"Original Shape: {data.shape}")
print(f"Melted Shape: {default_melt.shape}")

Original Shape: (784, 17)
Melted Shape: (13328, 2)

3. Create a melt table where the index variables are "embarked", and the values are "fare" and "deck"

In [57]:
# Create your melt table here:
specific_melt = pd.melt(
    data, 
    id_vars=["embarked"], 
    value_vars=["fare", "deck"]
)
# Run your table here:
specific_melt.head()
# Check the shape
print(f"Specific Melted Shape: {specific_melt.shape}")

Specific Melted Shape: (1568, 3)

# Optonal Challenges:

1. Clean and Explore the table.  
    1. How would you handle any missing data?
    1. Would you keep all of the columns?
    1. Would you want to manipulate any data?